* {
  font-size: 18px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  z-index: 500;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.menu {
  width: 35%;
  height: 100%;
  display: flex;
  height: 3em;
  justify-content: space-evenly;
  align-items: center;
}
.menu-link:hover {
  border-bottom: 0.5em solid hsl(192, 70%, 51%);
}

.menu-link {
  font-size: 0.8em;
  color: grey;
  font-weight: bold;
  height: 60%;
  margin-top: 5%;
}
.menu-link:hover {
  cursor: pointer;
}
.button {
  font-size: 0.7em;
  font-weight: bold;
  width: 140px;
  height: 35px;
  border: none;
  color: #fff;
  background-color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-radius: 20px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(220, 16%, 96%);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  z-index: 500;
}
.hamburger {
  display: none;
  size: 2em;
}

.head-div {
  background-color: hsl(0, 0%, 98%);
  background-image: url("./images//image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-size: 50%, 70%;
  background-repeat: no-repeat, no-repeat;
  width: 100%, 100%;
  background-position: 117% 50%, 150% 40%;
}
.head-info-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 12%;
  padding-bottom: 12%;
}

.head-heading {
  font-size: 3em;
  line-height: initial;
}

.head-heading-info {
  font-size: 0.9em;
  font-weight: bold;
  color: grey;
  padding-top: 4%;
  padding-bottom: 4%;
}
.head-img {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: -10%;
}
.header-div {
  display: flex;
  justify-content: space-between;
}

.usp {
  background-color: hsl(220, 16%, 96%);
}
.cards-div {
  display: flex;
  justify-content: space-between;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.usp-heading {
  font-size: 2em;
}

.card-group {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.usp-div {
  padding-top: 6%;
  padding-bottom: 6%;
}
.usp-head {
  width: 55%;
  padding-bottom: 2%;
}
.usp-img {
  width: 4em;
}
.usp-head-info {
  font-size: 0.9em;
  font-weight: bold;
  color: grey;
}
.card-text {
  font-weight: bold;
  color: grey;
}
.usp-text {
  font-size: 0.8em;
}

.articles {
  background-color: hsl(0, 0%, 98%);
}
.article-text {
  font-size: 0.72em;
  font-weight: bold;
  color: grey;
}
.articles-div {
  padding-top: 6%;
  padding-bottom: 6%;
}
.articles-head-heading {
  font-size: 2em;
  padding-bottom: 4%;
}

.article-body {
  padding: 5%;
}
.article-card {
  background-color: #fff;
}
.article-img {
  width: 100%;
  height: 9em;
}
.article-card-heading {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 0.9em;
  font-weight: bold;
}
.article-author {
  font-size: 0.6em;
  color: grey;
}
.article-card-heading:hover {
  color: hsl(192, 70%, 51%);
}
.footer {
  background-color: hsl(233, 26%, 24%);
}
.footer-div {
  display: flex;
  padding-top: 4%;
  padding-bottom: 4%;
}
.footer-media {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
}
.footer-logo {
  background-color: #fff;
  width: 60%;
}
.footer-media-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 15%;
  width: 60%;
}
.footer-Company-info {
  display: flex;
  width: 50%;
}
.footer-info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.footer-copyright-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-info {
  font-size: 0.8em;
  color: #fff;
}
.footer-copyright {
  font-size: 0.8em;
  color: grey;
}
.media-icon:hover {
  background-color: hsl(192, 70%, 51%);
  color: hsl(192, 70%, 51%);
  fill: hsl(192, 70%, 51%);
  cursor: pointer;
}
.footer-info:hover {
  color: hsl(192, 70%, 51%);
  cursor: pointer;
}
.button:hover {
  background-image: hsl(192, 70%, 51%);
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .navbar {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .nav-btn {
    display: none;
  }
  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .usp-div {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .usp-head {
    width: 100%;
    text-align: center;
  }
  .cards {
    align-items: center;
    text-align: center;
    margin-top: 10%;
    width: 45%;
  }

  .cards-div {
    flex-direction: column;
  }
  .usp-div {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .card-group {
    width: 100%;
  }
  .articles-head-heading {
    text-align: center;
  }
  .article-body {
    text-align: left;
  }

  .footer-div {
    flex-direction: column;
    align-items: center;
  }
  .footer-media {
    width: 100%;
    align-items: center;
  }
  .footer-media-info {
    width: 100%;
    justify-content: space-between;
  }
  .footer-info-group {
    width: 45%;
    align-items: center;
  }
  .footer-copyright-btn {
    align-items: center;
    width: 100%;
  }
  .footer-media-icons {
    padding-top: 5%;
  }
  .footer-logo {
    width: 40%;
  }
  .footer-Company-info {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .footer-info {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .footer-copyright {
    padding-top: 4%;
  }
  .footer-btn {
    font-size: 0.85em;
    font-weight: bold;
    width: 220px;
    height: 45px;
  }
}
@media screen and (max-width: 560px) {
  .head-div {
    background: none;
    background-color: hsl(0, 0%, 98%);
    background-image: url("./images//image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: 80%, 100%;
    background-position: 50% -40%, 0 -50%;
  }
  .head-info-div {
    width: 100%;
    text-align: center;
    padding-top: 100%;
  }
  .head-heading {
    font-size: 2.2em;
  }
  .head-heading-info {
    font-size: 0.8em;
  }
  .card-group {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 90%;
  }
  .footer-div {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .footer-Company-info {
    flex-direction: column;
  }
  .footer-info-group {
    width: 100%;
  }
  .footer-btn {
    font-size: 0.8em;
    font-weight: bold;
    width: 180px;
    height: 40px;
  }
  .footer-media-icons {
    width: 70%;
  }
}
